<!DOCTYPE html>
<html lang="en" ng-app="LMWebApp">

<head>
    <meta charset="UTF-8">
    <title>Leisure Management WebApp</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="LeisureManagementWebApp.js"></script>
</head>

<body>

<section ng-controller="WebAppController as wa_ctrl">
    <h3>Leisure Management WebApp</h3>

    <!----------------------- Tab creation ------------------------>
    <ul class="nav nav-tabs">
        <li class="{active:wa_ctrl.tab === $index}" ng-repeat="tab in tabs">
            <a href ng-click="wa_ctrl.selectTab(tab.label)">{{tab.label}}</a></li>
        </li>
    </ul>
    <!------------------------------------------------------------->

    <!---------------- list-tab content creation ------------------>
    <div class="container" ng-show="wa_ctrl.isListTabSelected()">
        <form>
            <input type="text" ng-model="search">
        </form>

        <button ng-click="wa_ctrl.showNewEntityFields()">New</button>
        <button ng-click="wa_ctrl.postEntity()">Submit</button>

        <table class="table">
            <!-- head-line of the table -->
            <tr>
                <th ng-repeat="attribute in attributes">{{attribute}}</th>
            </tr>

            <!-- input fields for new entries -->
            <tr ng-show="new_entry_visible">
                <td ng-repeat="attribute in attributes">
                    <!-- choose whether to display a "normal" input type, or a dropdown-list-->
                    <input ng-if="input_types[attribute] != 'select'" type="{{input_types[attribute]}}" name="{{attribute}}" ng-model="new_db_object[attribute]" />
                    <select ng-if="input_types[attribute] == 'select'" ng-model ="new_db_object[attribute]">
                        <option ng-repeat="id in foreign_ids[attribute]" value="{{id}}">{{wa_ctrl.printObject(id)}}</option>
                    </select>
                </td>
            </tr>

            <!-- actual table -->
            <!-- row-section: object = one object (= row) of the list -->
            <tr ng-repeat="object in obj_list | filter:search">
                <!-- column-section: access every property of every object -->
                <td ng-repeat="attribute in attributes">
                    <!-- pretty object print if necessary  -->
                    <div ng-switch on="is_foreign_id[attribute]">
                        <div ng-switch-when="true">
                            {{wa_ctrl.printObject(object[attribute])}}
                        </div>
                        <div ng-switch-default>
                            {{object[attribute]}}
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </div>

    <!------------------------------------------------------------->

    <!-----
    Place new sections with the following pattern:

    <div class="wa_ctrl"  ng-show="wa_ctrl.isSelected('<your_tab_name>')">
    <p> Tab </p>
    </div>

    ----->


    <p>request_data: {{request_data}}</p>
    <p>is_foreign_id: {{is_foreign_id}}</p>
    <!--<p>new_db_object: {{new_db_object}}</p>-->
    <!--<p>input_types: {{input_types}}</p>-->
    <!--<p>attributes: {{attributes}}</p>-->
    <!--<p>foreign_ids: {{foreign_ids}}</p>-->


</section>

</body>
</html>