<!DOCTYPE html>
<html lang="en" ng-app="LMWebApp">

<head>
    <meta charset="UTF-8">
    <title>Leisure Management WebApp</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="LeisureManagementWebApp.js"></script>
</head>

<body>

<section ng-controller="WebAppController as wa_ctrl">
    <h3>Leisure Management WebApp</h3>

    <!----------------------- Tab creation ------------------------>
    <ul class="nav nav-tabs">
        <li class="{active:wa_ctrl.tab === $index}" ng-repeat="tab in tabs">
            <a href ng-click="wa_ctrl.selectTab(tab.label)">{{tab.label}}</a></li>
        </li>
    </ul>
    <!------------------------------------------------------------->

    <!---------------- list-tab content creation ------------------>
    <div class="container" ng-show="wa_ctrl.isListTabSelected()">
        <form>
            <input type="text" ng-model="search">
        </form>

        <button ng-click="wa_ctrl.showNewEntityFields()">New</button>
        <button ng-click="wa_ctrl.postEntity()">Submit</button>

        <table class="table">
            <tr>
                <th ng-repeat="attribute in attributes">{{attribute}}</th>
            </tr>

            <tr ng-show="new_entry_visible">
                <td ng-repeat="attribute in attributes">
                    <input type="text" ng-model="list[$index]" /></td>
            </tr>

            <!-- acces all rows in the "row"-section of list_obj (and filter them) -->
            <tr ng-repeat="object in obj_list | filter:search">
                <!-- for each key in the column-section of list_obj, try to access the according value of each row -->
                <td ng-repeat="attribute in attributes">{{object[attribute]}}</td>
            </tr>
        </table>
    </div>

    <!------------------------------------------------------------->

    <!-----
    Place new sections with the following pattern:

    <div class="wa_ctrl"  ng-show="wa_ctrl.isSelected('<your_tab_name>')">
    <p> Tab </p>
    </div>

    ----->

    <p>request_data: {{request_data}}</p>

</section>

</body>
</html>