<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Single Page Example</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<section ng-controller="PanelController as panel">
  <h3>Tabs</h3>
  <ul class="nav nav-tabs">
    <li class="{active:panel.tab === 0}">
    <a href ng-click="panel.selectTab(0)">Home</a></li>
    <li class="{active:panel.tab === 1}">
    <a href ng-click="panel.selectTab(1)">Menu 1</a></li>
    <li class="{active:panel.tab === 2}">
    <a href ng-click="panel.selectTab(2)">Menu 2</a></li>
    <li class="{active:panel.tab === 3}">
    <a href ng-click="panel.selectTab(3)">Menu 3</a></li>
  </ul>
  
  <div class="panel" ng-show="panel.isSelected(0)">
    <h4>Home</h4>
    <p>None yet</p>
  </div>
  
  <div class="panel" ng-show="panel.isSelected(1)">
    <h4>Menu 1</h4>
    <p>None yet</p>
  </div>
  
  <div class="panel" ng-show="panel.isSelected(2)">
    <h4>Menu 2</h4>
    <blockquote>None yet</blockquote>
  </div>
  
  <div class="panel" ng-show="panel.isSelected(3)">
    <h4>Menu 3</h4>
    <blockquote>None yet</blockquote>
  </div>
  
  <p ng-bind-html="panel.myText"></p>
  
</section>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<body>
  
<script>
var app = angular.module('myApp', ['ngSanitize']);

app.controller('PanelController', function() {
    this.tab = 0;
    this.myText = "My name is: <h1>John Doe</h1>";
    
    this.selectTab = function(setTab)
    {
        this.tab = setTab;
        var temp = String(this.tab);

        switch (this.tab) 
        {
            case 1:
                this.myText = "<h1>Menu 1</h1><p>tab is: " + temp + "</p>";
                break;
            case 2:
                this.myText = "<h1>Menu 2</h1><p>tab is: " + temp + "</p>";
                break;
            case 3:
                this.myText = "<h1>Menu 3</h1><p>tab is: " + temp + "</p>";
                break;
            default:
                this.myText = "<h1>HOME</h1><p>tab is: " + temp + "</p>";
                
        }
        
    };
    
    this.isSelected = function(checkTab)
    {
        return this.tab === checkTab;
    };
});
</script>

</body>
</html>
