<html >
<head>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="json_creation.js"></script>
</head>
<body>
<div ng-app="app" ng-controller="HttpGetController">
	<p>URL: <input type="text" name="url" ng-model="url"/></p>
	<button ng-click="GetData()">Create Form</button>
    <button ng-click="SendData()">Submit</button>
	
	<div ng-repeat="attribute in attributes">
		<p>{{attribute}}: <input type="text" ng-model="list[$index]" /></p>
	</div>
	<p>PostDataResponse: {{ PostDataResponse }}</p>
	<p>attributes: {{ attributes }}</p>
	<p>list: {{ list }}</p>
	<p>test: {{ test }}</p>
</div>
</body>
</html>